.v-table {
  tr {
    display: grid;
    grid-template-columns: 35% 28% 13% 11.7% 3.4%;
    gap: 25px;
    align-items: center;
  }

  th,
  td {
    padding: 0 !important;
    border-bottom: 0 !important;
    height: auto !important;
  }

  tbody tr {
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.2s;

    &:first-of-type {
      margin-top: 15px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: rgb(var(--v-theme-secondary));
    }
  }
}
